<div class="wrapper" fxLayout="column">
  <mat-toolbar fxFlex="50px" fxLayout="row" color="primary">
    <!-- Menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="menu-text" mat-menu-item translate>toolbar.menu.item_1</button>
      <button class="menu-text" mat-menu-item translate>toolbar.menu.item_2</button>
    </mat-menu>
  
    <!-- Title -->
    <span fxFlex="fill" class="title" translate>info.title</span>
  
    <!-- Language menu -->
    <button mat-icon-button [matMenuTriggerFor]="languageMenu">
      <mat-icon>translate</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button *ngFor="let language of languages" mat-button
        class="menu-button right"
        [class.mat-primary]="language.value === currentLanguage"
        (click)="setLanguage(language.value)"
        >
        {{ language.alias }}
      </button>
    </mat-menu>
  </mat-toolbar>
  
  <div fxFlex fxLayout="row">
    <div fxFlex="350px" fxLayout="column" class="content left mat-app-background">
      <div>
        <h4 translate>sidebar.example_words.title</h4>
        <!-- List of texts to be translatet -->
        <p *ngFor="let word of words" translate>{{ word }}</p>
      </div>

      <mat-divider></mat-divider>
      
      <div>
        <h4 translate>sidebar.fallback.title</h4>
        <p translate>sidebar.fallback.fallback_text</p>
      </div>
      
      <mat-divider></mat-divider>

      <!-- Info -->
      <div>
        <h4 translate>sidebar.info.title</h4>

        <div>
          <div fxFlex>Angular</div>
          <div fxFlex>11.0.7</div>
        </div>
        <div>
          <div fxFlex>Angular Material</div>
          <div fxFlex>11.1.1</div>
        </div>
        <div>
          <div fxFlex>ngx-translate</div>
          <div fxFlex>13.0.0</div>
        </div>
        <div>
          <div fxFlex>TypeScript</div>
          <div fxFlex>4.0.2</div>
        </div>
      </div>

      <mat-divider style="margin-top: 20px;"></mat-divider>

      <div>
        <h4 translate>sidebar.repository.title</h4>
        <a href="https://bitbucket.org/anttilaton/angular-translate/src/master/">angular-translate</a>
      </div>

    </div>
    <div fxFlex fxLayout="column" class="content right">
      <h3 translate>content.about.title</h3>
      <p translate [translateParams]="{ language: getLanguage()}">content.about.text_1</p>
      <p translate>content.about.text_2</p>
      <ul>
        <li *ngFor="let language of languages">{{ language.alias }}</li>
      </ul>

      <h3 translate>content.application.title</h3>
      <p translate>content.application.text_1</p>

      <h3 translate>content.dynamic_translate.title</h3>
      <p translate>content.dynamic_translate.info</p>
      <div class="dynamic-translate-example" fxLayout="column">
        <div class="username-input">
          <mat-form-field>
            <mat-label translate>content.dynamic_translate.input.label</mat-label>
            <input matInput [(ngModel)]="username">
          </mat-form-field>
        </div>
        <h5 class="example-title" translate>content.dynamic_translate.translate_directive</h5>
        <code class="example-code">&lt;span translate [translateParams]="&#123; name: username &#125;"&gt;content.dynamic_translate.hello_message&lt;/span&gt;</code>
        <span translate [translateParams]="{ name: username }">content.dynamic_translate.hello_message</span>
        <h5 class="example-title" translate>content.dynamic_translate.translate_pipe</h5>
        <code class="example-code">&lt;span&gt;&#123;<span>&#123; &#39;content.dynamic_translate.hello_message&#39; &#124; translate&#58;&#123; name&#58; username &#125; &#125;</span>&#125;&lt;/span&gt;</code>
        <span>{{ 'content.dynamic_translate.hello_message' | translate:{ name: username } }}</span>
        <div fxLayout="row">
          <div fxFlex fxLayout="column">
          </div>
          <div fxFlex fxLayout="column">
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <span translate [translateParams]="{ name: username }">content.dynamic_translate.hello_message</span>
<span>{{ 'content.dynamic_translate.hello_message' | translate:{ name: username } }}</span> -->
  
  <!-- <div>
    <div> -->
      <!-- Dropdown for changing the language -->
      <!-- <span>{{ 'select_language' | translate }} </span>
      <select [ngModel]="currentLanguage" (ngModelChange)="setLanguage($event)">
        <option *ngFor="let language of languages" [ngValue]="language.value">{{ language.alias }}</option>
      </select>
    </div>
    <div> -->
      <!-- List of texts to be translatet -->
      <!-- <p *ngFor="let text of texts" translate>{{ text }}</p>
    </div>
  </div> -->
  
  <!-- Käännösdirektiivi -->
  <!-- <p translate>title</p>
  <label translate="title"></label> -->
  
  <!-- Käännösputki -->
  <!-- <p>{{ 'title' | translate }}</p>
  <input placeholder="{{ 'title' | translate }}"> -->
  
  
  <!-- <p>{{ text }}</p>
  <p>{{ buttonOpen }}</p>
  <p>{{ buttonClose }}</p> -->
  
  <!-- <input [(ngModel)]="user.name">
  <p translate [translateParams]="{ name: user.name }">hello_message</p>
  <p>{{ 'hello_message' | translate:{ name: user.name } }}</p>
  
  <p>{{ helloMessage }}</p> -->

  <!-- Footer -->
  <div class="footer mat-app-foreground" fxFlex="50px" fxLayout="row">
    <span class="text" translate>footer.text</span>
  </div>
</div>