.wrapper {
  height: 100%;
}

.title {
  text-align: center;
}
.menu-icon {
  font-size: 32px;
}
.menu-button {
  width: 100%;
  padding: 10px 30px 10px 0;
  font-size: 16px;
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
}


.content {
  &.left {
    padding: 20px;
  }
  &.right {
    padding: 20px;
  }
}


.dynamic-translate-example {
  .username-input {
    width: 200px;
  }
  .example-title {
    margin-bottom: 10px;
  }
  .example-code {
    margin-bottom: 5px;
  }
}


.footer {
  .text {
    font-weight: 400;
    margin: auto 50px;
  }
}
